section.about
  .flex
    .col-1
      #contact
        h1.my-face Erika Oishi
        p Email: #[a.inline(href="mailto:erikaoishi@berkeley.edu") erikaoishi@berkeley.edu]
        a.inline(href="/assets/Oishi_Erika_2018_resume.pdf" target="_blank") Resume

    .col-1
      p Hello! I'm Erika, a product designer, student at UC Berkeley, and cat enthusiast. When I'm not designing, I like to play basketball, collect art prints, or enjoy a nice video game session.
      p Currently, I am a research apprentice working on improving the UX of #[a.inline(href="https://www.thedesignexchange.org" target="_blank") theDesignExchange] , a central repository of design methods and case studies.
      p While at Cal, I'm currently a designer for #[a.inline(href="https://innovativedesign.club" target="_blank") Innovative Design] , Cal's premier creative agency. I have also created artwork for #[a.inline(href="http://www.superb.berkeley.edu/" target="_blank") Superb Productions] , an event-planning and entertainment group on campus. Off-campus, I also interned as a graphic design intern at the #[a.inline(href="https://www.familyequality.org/" target="_blank") Family Equality Council] .
      strong
        p What I'm familiar with:
      p Sketch, Invision, Adobe Illustrator/Photoshop, HTML, CSS, Sass, jQuery, Python
