section.about
  .flex
    .col-1
      #contact
        h1.my-face
        p Email: #[a.inline(href="mailto:erikaoishi@berkeley.edu") erikaoishi@berkeley.edu]
        a.inline(href="/assets/resume" target="_blank") Resume

    .col-1
      p Hello! I'm Erika, a product designer, student at UC Berkeley, and cat enthusiast. When I'm not designing, I like to play basketball, collect art prints, or enjoy a nice video game session.
      p Currently, I am a research apprentice working on improving the UX of #[a.inline(href="https://www.thedesignexchange.org" target="_blank") theDesignExchange] , a central repository of design methods and case studies.
      p While at Cal, I've been a lab assistant for #[a.inline(href="http://data8.org/" target="_blank") Data 8: Foundations of Data Science] , as well as created artwork for #[a.inline(href="http://www.superb.berkeley.edu/" target="_blank") Superb Productions] , an event-planning and entertainment group on campus. Off-campus, I also interned as a graphic design intern at the #[a.inline(href="https://www.familyequality.org/" target="_blank") Family Equality Council] .
      strong
        p What I'm familiar with:
      p Sketch, Invision, Adobe Illustrator/Photoshop, HTML, CSS, Sass, jQuery, Python
