section.footer
  .flex
    .col-1
      a(href="https://www.linkedin.com/in/erikaoishi/" target="_blank").linkedin LINKEDIN

    .col-1
      a(href="https://www.behance.net/erikaoishi" target="_blank").behance BEHANCE

  .col-2
    p thanks for stopping by!
    h1.heart
