mixin nav-content()
  ul
    li: a(href="/index.html") work
    li: a(href="/about.html") about

nav.mobile-nav
    +nav-content()

header
  a(href="/index.html").logo Erika Oishi

  .mobile-nav-toggle: span
