section.illustration-page
  .flex
    .col-2
      h1.big Illustration
      p.blurb Below are some of my favorite illustration projects. Some are for clubs, some for class, some independently and some as part of a team.

  .flex
    .col-1
      h1.sailaway Sail Away

    .col-1 This is a poster that I helped design recently. As a graphic designer for Innovative Design, a creative agency at Cal, I worked on a team with three other to complete this project. I created the initial sketch, and created the dragon and fire component in Illustrator.
