section.illustration-page
  .flex
    .col-2
      h1.big Illustration
      p.blurb Below are some of my favorite illustration projects. Some are for clubs, some for class, some independently, and some as part of a team.

  .flex
    .col-1
      h1.sailaway Sail Away

    .col-1 This is a poster that I helped design recently. As a graphic designer for Innovative Design, a creative agency at Cal, I worked on a team with three others to complete this project. I created the initial sketch, and created the dragon and fire component in Illustrator.

  .flex
    .col-1
      h1.nancy-liang Nancy Liang study

    .col-1 I did a study of an image I found online, but in the style of an artist that I find inspiration from, Nancy Liang. Particularly, I focused on using texture, abstracting aspects of the image, and maintaining a youthful color palette. Done in Photoshop.

  .flex
    .col-849
      h1.bigthief Big Thief

  .flex
    .col-2
      p.bigthief Above is a Facebook cover photo created for a concert that was being held by the club Superb Productions, for which I am an art and design intern. Created in Illustrator, and was later followed by a poster.

  .flex
    .col-1
      h1.familyequality  Family Equality Poster

    .col-1 As a graphic design intern for the Family Equality Council, I made this poster for an event they were holding. It was an interesting challenge to work in greyscale, but I was able to practice using value effectively!

  .flex
    .col-1
      h1.shrimp Shrimp Logo

    .col-1
      h1.barb The only trace of Barb, from Stranger Things

  .flex
    .col-2
      h1.avatar An avatar of me
