section.project3-page
  .flex
    .col-2
      h1.big Bella Castilla Redesign
      p.blurb As part of Adobe Education Exchange's "UX to UI" online course, I redesigned an interior design website.
      h1.bc-mac bc-mac
      p In searching for a summer job, I stumbled upon the website for a local interior design and furniture store. It had an extensive number of usability issues. These included hard-to-read text and a lack of information architecture, on top of it not being responsive.

  .flex
    .col-1
      h1.persona1 Persona1

    .col-1
      h1.persona2 Persona2

  .flex
    .col-2
      p The first thing I did was create personas for customers of the store. They were based on my knowledge of the area's demographic, and knowledge that this was a higher-end store. In hindsight, I should've asked the store owner about his customer demographic instead of making assumptions.

  .flex
    .col-2
      h1.styleguide Style Guide

  .flex
    .col-2
      p I followed this with a style guide, deciding on a contemporary theme to give the website a more polished look. However, one of my classmates pointed out that the logo seemed more rustic and traditional, which conflicted with this theme. If I were to do this project again, I would change the theme to be consistent with this.

  .flex.sitemap
    .col-1
      h1.sitemap Site Map

    .col-1
      p Next came the site map. I had a sample user (my mom!) do a card-sorting activity to see whether the organization made sense. In doing so, I learned that the original categories weren't as confusing as I had assumed, and I revised the categories I had initially created.

  .flex
    <iframe allowFullScreen frameborder="0" height="400" mozallowfullscreen src="https://player.vimeo.com/video/169942859" webkitAllowFullScreen width="90%"></iframe>

  .flex
    .col-2
      p.vimeo Here is a video of a user interacting with a paper prototype of the website redesign.

  .flex
    .col-1
      h1.wireframes Wireframes

    .col-1
      p.wireframes Some wireframes I made in Adobe Comp CC.

  .flex
    .col-2
      h1.mockups Mockups
      p.mockups A look at the mockups I ended up creating, branching out from the home page.

  .flex
    <iframe src="https://player.vimeo.com/video/170529580" width="90%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    .col-2
      p.prototype This video clicks through the prototype, which you can interact with #[a.inline(href="https://xd.adobe.com/view/6acaa87d-2ed6-483a-8c02-0f1446b4ae29/?featureset=cp") here] .

  .flex
    .col-2
      h1.big Reflection

  .flex
    .col-2
      p I missed an opportunity to talk to the store owner about these designs; by talking to him, I would've gained a better understanding of the users, as well as aligning my design with the store's brand. As this was more of a UI project, I didn't take the store's mission and values into consideration either; the focus of the project was more on reorganizing the website, and making aesthetic changes. Were I to take this on a second time, I would work directly with the store owner and a web developer to make sure I was staying on-brand.
