section.project1
  .flex
    .col-1
      a(href="/project1.html").cover tDX UX

    .col-1
      a(href="/project1.html").project-link theDesignExchange UX
      p A central repository of design methods and case studies, for use by both educators and design students. Conducted interviews with various design educators and am currently redesigning the site.

section.project2
  .flex
    .col-1
      a(href="/project2.html").cover SlightSee Prototype

    .col-1
      a(href="/project2.html").project-link SlightSee Prototype
      p An iOS app designed to help travelers make better use of their long layover times by pairing them with a tour guide in the area. Mainly using Sketch, this was a winter break project that I did for fun!
section.project3
  .flex
    .col-1
      a(href="/project3.html").cover Bella Castilla

    .col-1
      a(href="/project3.html").project-link Bella Castilla
      p Redesign of an interior design website, focusing on layout and organization as well as increasing online presence. Was completed through Adobe's UX to UI course, utilizing the Adobe Creative Suite to create a working prototype.
