section.illustration
  .flex
    .col-2
      h1 ILLUSTRATION
      p Previous designs for campus organizations, and other projects.

  .flex
    .col-849
      a(href="/illustrations.html") Illustrations
