section.illustration
  .flex
    .col-2
      a(href="/illustrations.html").illustration-link ILLUSTRATION
  .flex
    .col-2
      p Previous designs for campus organizations, and other projects.

  .flex
    .col-849
      h1.gallery Illustrations
