/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(https://fonts.gstatic.com/s/karla/v6/JaMH4jmmzP070-OYo03anaCWcynf_cDxXwCLxiixG1c.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local("Karla Bold"), local("Karla-Bold"), url(https://fonts.gstatic.com/s/karla/v6/suoMYBGv5sGCUIrF9mVTfXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 700;
  src: local("Palanquin Dark Bold"), local("PalanquinDark-Bold"), url(https://fonts.gstatic.com/s/palanquindark/v3/iXyBGf5UbFUu6BG8hOY-mc5CSREp6XAAKlwJn0P7vjI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #484848;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #89023E;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #ee036b; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Karla', sans-serif;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.cover {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 300px;
  height: 300px;
  margin: 0;
  background-image: url(/assets/img/sscover.png);
  background-position: center; }

section.project2 a.cover {
  background-image: url(/assets/img/tDXcover.png); }

section.project3 a.cover {
  background-image: url(/assets/img/BCcover.png); }

.project-link {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  margin: auto; }

.linkedin, .behance {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 24px;
  color: #777777;
  text-align: center; }

.linkedin {
  margin-right: 97px;
  margin-left: auto; }

.behance {
  margin-right: auto;
  margin-left: 97px; }

.site-nav a, .mobile-nav a {
  color: #D0D0D0; }
  .site-nav a:hover, .site-nav a:focus, .site-nav a.active, .mobile-nav a:hover, .mobile-nav a:focus, .mobile-nav a.active {
    color: #616161; }

.inline {
  color: #616161;
  border-bottom: 1px dashed #D0D0D0; }
  .inline:hover, .inline:focus {
    color: #949494; }

.site-wrap header {
  max-width: 1050px;
  background: white;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .site-wrap header.is-open {
    margin-right: 141px;
    width: auto;
    right: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .site-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    height: 80px;
    max-width: 100px;
    margin: auto;
    padding: 0;
    background-image: url(/assets/img/logo2018.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
            background-size: contain; }
  .site-wrap header .mobile-nav-toggle {
    display: none;
    width: 25px;
    height: 35px;
    margin-right: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .site-wrap header .mobile-nav-toggle span,
    .site-wrap header .mobile-nav-toggle span::before,
    .site-wrap header .mobile-nav-toggle span::after {
      content: "";
      display: block;
      height: 2px;
      width: 25px;
      background: #333;
      position: absolute;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .site-wrap header .mobile-nav-toggle span::before {
      top: 10px; }
    .site-wrap header .mobile-nav-toggle span::after {
      top: -10px; }
    .site-wrap header .mobile-nav-toggle.is-open span {
      background: transparent; }
    .site-wrap header .mobile-nav-toggle.is-open span::before,
    .site-wrap header .mobile-nav-toggle.is-open span::after {
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 1px; }
    .site-wrap header .mobile-nav-toggle.is-open span::before {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.mobile-nav {
  display: none;
  position: fixed;
  right: 0;
  width: 100px;
  height: 100%;
  background: white;
  padding: 30px 20px;
  -webkit-box-shadow: 1px 0 7px -2px inset;
          box-shadow: 1px 0 7px -2px inset;
  z-index: 2;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .mobile-nav li {
    text-align: right;
    margin-bottom: 10px; }
  .mobile-nav.is-open {
    display: block;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

@media (max-width: 640px) {
  .site-wrap header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7;
    position: fixed;
    z-index: 2;
    top: 0;
    right: auto;
    left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .site-wrap header .logo {
      padding: 0 10px 10px 60px;
      height: 70px; }
    .site-wrap header .mobile-nav-toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.main-content section.intro {
  padding-bottom: 23px; }
  .main-content section.intro p {
    color: #616161;
    text-align: center;
    margin: 0;
    line-height: 36px; }

section.illustration h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #616161; }

section.illustration p {
  max-width: 347px; }

.gallery {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 195px;
  background-image: url(/assets/img/art.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

section.footer .col-2 {
  margin: auto; }
  section.footer .col-2 p {
    text-align: center;
    padding-top: 92px; }

.heart {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 26px;
  height: 23px;
  margin: auto;
  background-image: url(/assets/img/heart.svg);
  background-repeat: no-repeat; }

@media (max-width: 1050px) {
  .main-content section.footer {
    padding-top: 0;
    padding-bottom: 20px; } }

@media (max-width: 640px) {
  .linkedin, .behance {
    padding-bottom: 50px;
    margin: auto; }
  .main-content section.footer .col-2 p {
    padding-top: 40px; }
  .heart {
    margin-top: 20px; } }

.my-face {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 225px;
  height: 300px;
  margin-top: 0;
  background-image: url(/assets/img/myface.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

section.about p {
  font-size: 14px;
  text-align: left; }

strong p {
  margin-bottom: 0; }

a.inline {
  margin-right: auto; }

section.project1-page p {
  font-size: 14px;
  text-align: left; }

section.project1-page .col-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

section.project1-page .blurb {
  font-style: italic;
  text-align: center; }

h1.big {
  text-align: center; }

h1.onboarding {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 620px;
  height: 200px;
  margin: 0;
  background-image: url(/assets/img/onboarding.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

h1.fiveviews {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 500px;
  height: 375px;
  margin: 0;
  background-image: url(/assets/img/fivescreens.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

p.fiveviews {
  margin-top: 10px; }

.userflow {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 300px;
  height: 225px;
  margin-top: 0;
  background-image: url(/assets/img/UserFlow.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

h1.dash-gif {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 275px;
  height: 480px;
  background-image: url(/assets/img/dash.gif);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

p.dash-gif {
  margin-top: 200px; }

h1.message-box {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 300px;
  height: 200px;
  background-image: url(/assets/img/messagebox.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

p.message-box {
  margin-top: 50px; }

h1.finalscreens {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 400px;
  margin-bottom: 10px;
  background-image: url(/assets/img/threescreens.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

@media (max-width: 760px) {
  h1.fiveviews {
    max-width: 400px;
    height: 330px; } }

@media (max-width: 640px) {
  p.blurb {
    margin-bottom: 15px; }
  .userflow {
    margin-top: 20px; }
  h1.fiveviews {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; }
  .userflow {
    margin-bottom: 0; }
  h1.dash-gif {
    margin-bottom: 10px; }
  p.dash-gif {
    margin-top: 10px; }
  p.message-box {
    margin-top: 10px; }
  .main-content section.project1-page,
  .main-content section.project2-page,
  .main-content section.project3-page {
    padding-top: 10px; }
  h1.finalscreens {
    margin-top: 0; } }

section.project2-page p {
  font-size: 14px;
  text-align: left; }

section.project2-page p.affinity {
  text-align: center;
  margin: 10px auto 30px auto; }

section.project2-page .col-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

section.project2-page .blurb {
  font-style: italic;
  text-align: center; }

h1.affinitymap {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 500px;
  margin: auto;
  background-image: url(/assets/img/affinitymap.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

p.slideshow {
  margin-top: 100px; }

iframe {
  display: block;
  margin-left: 20px; }

@media (max-width: 1050px) {
  iframe {
    height: 400px; } }

@media (max-width: 640px) {
  p.slideshow {
    margin: 20px auto; }
  h1.affinitymap {
    height: 300px;
    margin-top: 20px; }
  iframe {
    height: 335px;
    margin: auto; } }

section.project3-page p {
  font-size: 14px;
  text-align: left; }

section.project3-page .col-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

section.project3-page .blurb {
  font-style: italic;
  text-align: center; }

section.project3-page iframe {
  display: block; }

section.project3-page p.vimeo {
  margin-top: 10px;
  text-align: center; }

section.project3-page p.prototype {
  margin-top: 100px; }

h1.bc-mac {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 640px;
  height: 350px;
  margin-top: 0;
  background-image: url(/assets/img/bc-mac.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

h1.persona1 {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 300px;
  height: 200px;
  margin-top: 0;
  background-image: url(/assets/img/persona.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

h1.persona2 {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 300px;
  height: 200px;
  margin-top: 0;
  background-image: url(/assets/img/persona2.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

h1.styleguide {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 350px;
  margin-top: 0;
  margin-bottom: 10px;
  background-image: url(/assets/img/styleguide.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

h1.sitemap {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 300px;
  height: 200px;
  margin-top: 0;
  margin-bottom: 10px;
  background-image: url(/assets/img/sitemap.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

.flex.sitemap {
  margin-top: 10px;
  margin-bottom: 10px; }

h1.wireframes {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 300px;
  height: 200px;
  margin: 0;
  background-image: url(/assets/img/wireframes.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

p.wireframes {
  padding-top: 20px; }

h1.mockups {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  height: 400px;
  margin-bottom: 10px;
  background-image: url(/assets/img/mockups.png);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

@media (max-width: 640px) {
  h1.bc-mac {
    height: 300px; }
  h1.persona1 {
    margin-top: 20px; }
  h1.styleguide {
    margin-top: 20px; }
  h1.wireframes {
    margin-bottom: 0; }
  section.project3-page p.wireframes {
    margin-top: 0;
    text-align: center; }
  section.project3-page p.mockups {
    text-align: center; }
  section.project3-page p.prototype {
    margin-top: 0;
    text-align: center; } }

.site-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1050px;
  margin: auto; }

.site-nav {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  z-index: 150;
  position: relative;
  top: 111px;
  background: white;
  margin-bottom: -42px; }
  .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .site-nav li {
    padding: 10px; }

.site-nav-scrolled {
  position: fixed;
  top: 0;
  max-width: 1050px; }

.main-content {
  position: relative;
  background: white;
  top: 140px; }
  .main-content section {
    padding: 50px 0; }
  .main-content .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.col-1 {
  max-width: 300px;
  margin: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-849 {
  max-width: 849px;
  margin: auto; }

@media (max-width: 640px) {
  .site-wrap.is-open {
    margin-right: 140px; }
  .site-wrap {
    display: block;
    -webkit-transition: margin-right .5s;
    -o-transition: margin-right .5s;
    transition: margin-right .5s; }
    .site-wrap .site-nav {
      display: none; }
    .site-wrap .main-content {
      top: 101px; }
  .main-content .flex {
    display: block; }
  p {
    margin: auto; }
  .col-1 {
    margin: auto; } }

p {
  font-size: 18px;
  text-align: center; }
