section.illustration
  p
    max-width: 347px
.illustration-link
  display: block
  margin: auto

.gallery
  +hide-text
  max-width: 849px
  height: 177px
  background:
    image: url(/assets/img/art.png)
    size: contain
    repeat: no-repeat
