section.illustration
  h1
    font-size: 24px
    text-align: center
    font-weight: bold
    color: #616161

  p
    max-width: 347px

.gallery
  +hide-text
  height: 195px
  background:
    image: url(/assets/img/art.png)
    size: contain
    repeat: no-repeat
