section.project2-page
  p
    font-size: 14px
    text-align: left

  p.affinity
    text-align: center
    margin: 10px auto 30px auto

  .col-1
    display: flex
    align-items: center

  .blurb
    font-style: italic
    text-align: center

h1.affinitymap
  +hide-text
  height: 500px
  margin: auto
  background:
    image: url(/assets/img/affinitymap.png)
    position: center
    size: contain
    repeat: no-repeat

p.slideshow
  margin-top: 100px

iframe
  display: block
  margin-left: 20px

@media (max-width: 1050px)
  iframe
    height: 400px

@media (max-width: 640px)
  p.slideshow
    margin: 20px auto

  h1.affinitymap
    height: 300px
    margin-top: 20px

  iframe
    height: 335px
    margin: auto
